<div class="sidebar">
  <h1>M<span>I</span></h1>
  <a routerLink="/"><i class="fas fa-home icon"></i>Home</a>
  <a routerLink="/user"><i class="fas fa-user icon"></i>User</a>
  <a routerLink="/product"><i class="fas fa-box icon"></i>Product</a>
  <a routerLink="/order"><i class="fas fa-shopping-cart icon"></i>Order</a>
  <a routerLink="/address"><i class="fas fa-map-marker-alt icon"></i>Address</a>
  <a routerLink="#"><i class="fas fa-cog icon"></i>Settings</a>
  <a routerLink="#"><i class="fas fa-user icon"></i>Profile</a>
</div>
