<div class="filter-section">

</div>

<div class="table-section">
  <table class="table">

    <thead>
    <tr>
      <th>ID</th>
      <th *ngFor="let header of headers">{{ header.toUpperCase() }}</th>
      <th>ACTIONS</th>
    </tr>
    </thead>

    <tbody>
    <ng-container *ngIf="data && data.length > 0; else noData">
      <tr *ngFor="let item of data; let i = index">
        <td>{{ i + 1 }}</td>
        <ng-container *ngFor="let header of headers">
          <td *ngIf="header !== 'Order Items' && header !== 'Address' ">{{ item[toCamelCase(header)] }}</td>
          <td *ngIf="header === 'Order Items'">
            <table class="inner-table">
              <thead>
              <th>Product Name</th>
              <th>Quantity</th>
              </thead>
              <tbody>
              <tr *ngFor="let orderItem of item.orderItems">
                <td>{{ orderItem.productName }}</td>
                <td>{{ orderItem.quantity }}</td>
              </tr>
              </tbody>
            </table>
          </td>

          <td *ngIf="header === 'Address'">
            <table class="inner-table">
              <thead>
              <th>House Number</th>
              <th>Street Name</th>
              <th>City</th>
              <th>Zip Code</th>
              </thead>
              <tbody>
              <tr>
                <td>{{ item.address.houseNumber }}</td>
                <td>{{ item.address.streetName }}</td>
                <td>{{ item.address.city }}</td>
                <td>{{ item.address.zipCode }}</td>
              </tr>
              </tbody>
            </table>
          </td>
        </ng-container>
        <td>
          <button class="action-button update-button" (click)="openUpdateModal(item.id)" [disabled]="modalOpened">
            Update
          </button>
          <button class="action-button delete-button" (click)="openConfirmationModal(item.id)" [disabled]="modalOpened">
            Delete
          </button>
        </td>
      </tr>
    </ng-container>
    <ng-template #noData>
      <tr>
        <td [attr.colspan]="headers.length + 2">No data available</td>
      </tr>
    </ng-template>
    </tbody>
  </table>
</div>

<button class="add-button" (click)="openModal()" [disabled]="modalOpened">Add</button>

<div class="modal" *ngIf="showModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button type="button" class="close" (click)="closeModal()">&times;</button>
      </div>
      <div class="modal-body">
        <ng-container *ngFor="let field of objectFields">
          <div class="form-group" *ngIf="field.label !== 'Order Items' && field.label !== 'Address' ">
            <label>{{ field.label }}</label>
            <input *ngIf="field.label !== 'Expiration Date' && field.label !== 'Date Of Birth'" type="text" class="form-control" [(ngModel)]="field.value">
            <input *ngIf="field.label === 'Expiration Date'" type="datetime-local" class="form-control" [(ngModel)]="field.value">
            <input *ngIf="field.label === 'Date Of Birth'" type="date" class="form-control" [(ngModel)]="field.value">
          </div>
        </ng-container>

        <div *ngIf="title.endsWith('Order') ">
          <h5>Order Items</h5>
          <div *ngFor="let orderItem of orderItems; let i = index">
            <div class="form-group">
              <label>Product Name</label>
              <input type="text" class="form-control" [(ngModel)]="orderItem.productName">
            </div>
            <div class="form-group">
              <label>Quantity</label>
              <input type="number" class="form-control" [(ngModel)]="orderItem.quantity">
            </div>
            <button type="button" class="btn btn-danger" (click)="removeOrderItem(i)">Remove</button>
          </div>
          <button type="button" class="btn btn-primary" (click)="addOrderItem()">Add Order Item</button>
        </div>

        <div *ngIf="title.endsWith('User')">
          <h5>Address</h5>
          <div class="form-group">
            <label>Street Name</label>
            <input type="text" class="form-control" [(ngModel)]="userAddress.streetName">
          </div>
          <div class="form-group">
            <label>House Number</label>
            <input type="text" class="form-control" [(ngModel)]="userAddress.houseNumber">
          </div>
          <div class="form-group">
            <label>City</label>
            <input type="text" class="form-control" [(ngModel)]="userAddress.city">
          </div>
          <div class="form-group">
            <label>Zip Code</label>
            <input type="text" class="form-control" [(ngModel)]="userAddress.zipCode">
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" *ngIf="!isUpdating" (click)="saveObject()">Save</button>
        <button type="button" class="btn btn-primary" *ngIf="isUpdating" (click)="updateObject()">Update</button>
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="confirmation-modal" *ngIf="showConfirmationModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Deletion</h5>
        <button type="button" class="close" (click)="closeConfirmationModal()">&times;</button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete the selected object?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="confirmDeletion()">Yes</button>
        <button type="button" class="btn btn-secondary" (click)="closeConfirmationModal()">No</button>
      </div>
    </div>
  </div>
</div>
