.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  min-height: 90vh;
}

h1:hover {
  letter-spacing: 1px;
  transition: .3s ease;
}

.link {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  margin: 10px;
  transition: background-color 0.3s ease;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.link:hover {
  background-color: #2980b9;
  border-radius: 8px;
  transition: background-color 0.5s, border-radius 0.5s;
}
